.page-header{
    background-color: $colorBackground;
    .page-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-logo{
        background-image: url('/images/logo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 4rem;
        width: 8rem;
    }
    .page-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            transition: 0.5s all;
            padding-right: 0.7rem;
            line-height: 3.5rem;
            &:last-child{
                padding-right: 0;
            }
        }
        a{
            font-size: 0.8rem;
            text-decoration: none;
            color: $colorLight;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            &:hover{
                // text-shadow: 0.0625rem 0.0625rem 0.0625rem $colorLight;
                // border-bottom: 0.0625rem solid $colorLight;
            }
        }
    }
    .main-header{
        background-image: url("/images/header-img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 36rem;
        max-width: 71rem;
        background-attachment: fixed;
        text-align: center;
        h1{
            padding-top: 7rem;
            text-transform: uppercase;
            font-size: 4.5rem;
            font-weight: bold;
            color: $colorLight;
        }
        .page-header-text{
            font-size: 0.8rem;
            color: $colorLight;
            padding: 3rem 12rem;
        }
        .page-header-btn{
            font-size: 0.8rem;
            @include btn($colorLight, $colorBackground);
        }
    }
}