@import 'reset';
@import 'variables';
@import 'mixin';
@import 'main-hero';
@import 'main-articles';
@import 'main-info';
@import 'main-gallery';
@import 'main-footer-articles';
@import 'main-footer';

*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
h1,h2,h3{
    font-family: 'Caesar Dressing', cursive;
}
.container{
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 0.625rem;
}
